.custom-navbar {
  background-color: #000 !important;
}

.custom-link {
  color: #87cefa !important; /* Light Sky Blue */
  font-weight: 500;
}

.custom-link:hover {
  color: #00bfff !important; /* Deep Sky Blue on hover */
}
